{% load static %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-127103265-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-127103265-3');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      @media only screen and (min-width: 768px) {
        #mbl {
          display: none !important;
        }
      }
      @media only screen and (max-width: 767px) {
        #dsk {
          display: none !important;
        }
      }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>
      {% block title %}
        4-Organizer
      {% endblock %}

    </title>

  </head>

  <body class="container">

    <nav id="dsk" class="navbar navbar-expand-lg navbar-light" style="background-color: #fff; box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.2);">
      <div class="">
        <ul class="nav navbar-nav">
          <li class="nav-item mr-2">
            <a class="text-sm-center nav-link" style="color: #181b20; font-weight: 600;" href="{% url 'pricing' %}">Pricing</a>
          </li>
          <li class="nav-item mr-2">
            <a class="text-sm-center nav-link" style="color: #181b20; font-weight: 600;" href="{% url 'main' %}">Description & Features</a>
          </li>

        </ul>
      </div>
      <a class="navbar-brand mx-auto" href="{% url 'main' %}">{% include 'main/logo.html' %}</a>
      <div class="">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a style="color: #181b20!important; font-weight: 600;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              4-Organizer Support
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a style="color: #181b20!important; font-weight: 600;" class="dropdown-item" href="{% url 'support' %}">4-Organizer Support</a>
              <a style="color: #181b20!important; font-weight: 600;" class="dropdown-item" href="{% url 'contact-us' %}">Contact Us</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a style="color: #181b20!important; font-weight: 600;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            {% if user.is_authenticated %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a style="color: #181b20!important; font-weight: 600;" class="dropdown-item" href="{% url 'profile' %}">My profile</a>
                <a style="color: #181b20!important; font-weight: 600;" class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            {% else %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a style="color: #181b20!important; font-weight: 600;" class="dropdown-item" href="{% url 'register' 0 %}">Sign up</a>
                <a style="color: #181b20!important; font-weight: 600;" class="dropdown-item" href="{% url 'login' %}">Login</a>
              </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <nav id="mbl" class="navbar navbar-expand-lg navbar-light" style="background-color: #fff; box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.2);">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto" href="#" style="text-align: center;">{% include 'main/logo.html' %}</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="nav navbar-nav">
          <li class="nav-item mr-2">
            <a class="text-sm-center nav-link" style="color: #181b20; font-weight: 600;" href="{% url 'main' %}">Main</a>
          </li>
          <li class="nav-item mr-2">
            <a class="text-sm-center nav-link" style="color: #181b20; font-weight: 600;" href="{% url 'pricing' %}">Pricing</a>
          </li>
          <li class="nav-item mr-2">
            <a class="text-sm-center nav-link" style="color: #181b20; font-weight: 600" href="{% url 'support' %}">4-Organizer Support</a>
          </li>
          <li class="nav-item">
            <a class="text-sm-center nav-link" style="color: #181b20; font-weight: 600" href="{% url 'contact-us' %}">Contact us</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12 mt-5">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="mt-5 col-12 col-md-6 col-12" style="background-color: #282c34; border-radius: 15px; border: 5px #4989cc solid!important; padding: 10px">
          <div>
            <!-- <h2 class="text-center" style="color: #4989cc">Add 1 week to your license for <strong style="color: #fff!important">free!</strong></h2> -->
            <h2 class="text-center" style="color: #4989cc">
              <dt>Sign up to our newsletter to receive:</dt>
            </h2>
            <ul style="color: #4989cc">
              <li>giveaways</li>
              <li>exclusive content</li>
              <li>new versions & updates</li>
              <li>beta versions</li>
            </ul>
            <form method="post" action="/mail/">
              <h5 style="color: #4989cc" class="text-center">Email, same as entered for the license:</h5>
              <input class="form-control mb-3 mt-2" name="email_newsletter" placeholder="email@company.com">
              <div class="text-center">
                <button type="submit" class="btn btn-info col-12 col-md-3" style="background-color: #4989cc">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 100px!important;">
  <hr style="margin-top: 100px!important;" class="featurette-divider">
  <footer class="container">
    <p class="float-right">{% include 'main/logo.html' %}</p>
    <p style="color: #4c82c6">© 2017-2020<br>4-Organizer, American Best Technologies Company LLC. All rights reserved.<br>
      <a href="{% url 'terms' %}">Terms & Privacy</a>
    </p>
  </footer>
</div>

</body>

</html>