{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <style>
    .version {
      margin-top: 30px;
      margin-bottom: 30px;
      border: 4px solid #4989cc;
      border-radius: 17px;
      padding: 20px;
    }
    .version-title {
      text-align: center;
      border: 4px solid #4989cc;
      border-radius: 17px;
      padding: 5px;
      background-color: #4989cc;
      color: white;
    }
    .version-item {
      color: #4989cc;
      font-size: 20px;
    }
  </style>

  <h1 class="text-center mb-5 mt-1" style="color: #4989cc">What's new? / Changelog</h1>

  <div class="version  col-12 col-md-6  mx-auto">
    <h2 class="version-title">2.3 STABLE (latest)</h2>

    <p>
      <span class="version-item">•</span> Optimized sorting: now it runs 8 times faster<br>
      <span class="version-item">•</span> Optimized empty folders removal tool: now it runs 4 times faster<br>
      <span class="version-item">•</span> New: support of customized user folders in Installer<br>
      <span class="version-item">•</span> Improved overall stability<br>
      <span class="version-item">•</span> Added many new scan paths to "Deep scan"<br>
      <span class="version-item">•</span> Installer now works faster<br>
      <span class="version-item">•</span> Updated loading screen<br>
      <span class="version-item">•</span> Enhanced button sizes<br>
      <span class="version-item">•</span> Changed progress bar logic: now it's smoother and more precise<br>
      <span class="version-item">•</span> Updated "about" page<br>
      <span class="version-item">•</span> Bugfixes<br>
      <span class="version-item">•</span> Minor improvements in UI<br>
    </p>
  </div>

  <div class="version  col-12 col-md-6 mx-auto">
    <h2 class="version-title">2.2 STABLE</h2>
    <p>
      <span class="version-item">•</span> Added multithreading support: now sorting runs up to 16 times faster<br>
      <span class="version-item">•</span> Bugfixes<br>
      <span class="version-item">•</span> Added new scan paths to "Deep scan"<br>
      <span class="version-item">•</span> Minor improvements in UI<br>
    </p>

  </div>

  <div class="version  col-12 col-md-6 mx-auto">
    <h2 class="version-title">2.1 STABLE</h2>
    <p>
      <span class="version-item">•</span> Improved progress bar<br>
      <span class="version-item">•</span> Changed assets<br>
      <span class="version-item">•</span> Added new scan paths to "Deep scan"<br>
      <span class="version-item">•</span> Created new installer<br>
    </p>
  </div>

  <div class="version  col-12 col-md-6 mx-auto">
    <h2 class="version-title">2.0 STABLE</h2>
    <p>
      <span class="version-item">•</span> Absolutely new UI<br>
      <span class="version-item">•</span> Now, there are ~10,000 extensions in the database<br>
      <span class="version-item">•</span> Extensions database is online<br>
      <span class="version-item">•</span> New online installer<br>
      <span class="version-item">•</span> Added many new paths to the "deep scan"<br>
      <span class="version-item">•</span> Updated "about" page<br>
      <span class="version-item">•</span> Added progress bar<br>
    </p>
  </div>

{% endblock %}