{% extends 'main/base.html' %}


{% block content %}

<h1 class="text-center">Installation instructions:</h1>
<ul>
<li class="mt-2">download 4 Organizer <a href="http://next-code.cf/4-orgsetup.exe">from this URL</a></li>
<li class="mt-2">run file "Setup4-Organizer.exe"</li>

<li class="mt-2">if you have Windows 8/8.1/10 you may see this message:</li>
<img src="http://next-code.cf/protect.png">
<li class="mt-2">press on "More info" text.</li>

<li class="mt-2">then, press "Run anyway".</li>
<img class="mt-2" width="50%" src="http://next-code.cf/more.png">
<li class="mt-2">after short installation, on the Desktop will appear "4-Organizer" shortcut. Run it.</li>

<li>you may again see "Windows protected your PC" press "More info" and then "Run anyway".</li>

<h3 class="mt-3 text-center">4 Organizer is installed! Now you will see it's main window.</h3>
<div style="text-align: center">
<img class="mt-2"  width="70%" src="http://next-code.cf/main.png">
</div>
</ul>
<h4 class="mt-3 text-center">You may also want to read <a style="color: #4989cc" href="{% url 'select-scan' %}">selecting scan guide.</a></h4>
{% endblock %}
