{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <h1 class="text-center mb-5" style="color: #4989cc">Installation instructions</h1>
  <ul>
    <li class="mt-2">download and extract 4 Organizer
      <a href="{% static "bin/4-Organizer Setup.exe" %}">from this URL</a>
    </li>
    <li class="mt-2">run file "4-Organizer Setup.exe"</li>

    <li class="mt-2">if you have Windows 8/8.1/10 you may see this message:</li>
    <img style="border-radius: 15px; margin-bottom: 10px; margin-top: 20px;" src="{% static 'protect.png' %}">
    <li class="mt-2">press on "More info" text.</li>

    <li class="mt-2">then, press "Run anyway".</li>
    <img class="mt-2" style="border-radius: 15px; margin-bottom: 10px; margin-top: 20px;" width="50%" src="{% static 'more.png' %}">
  </ul>

  <ul class="mt-5 mb-5">
    <li>after short installation, "4-Organizer" shortcut will appear on your Desktop. Run it.</li>
    <li>you may again see "Windows protected your PC". Press "More info" and then "Run anyway".</li>

    <h2 class="mt-5 text-center" style="color: #4989cc">4 Organizer is installed!<br>Now you will see it's main window:</h2>
    <div style="text-align: center">
      <img class="mt-2" width="70%" src="{% static 'main.png' %}">
    </div>
  </ul>

  <h3 class="mt-5 text-center">You may also want to read
    <a style="color: #4989cc" href="{% url 'select-scan' %}">selecting scan guide.</a>
  </h3>
{% endblock %}