{% extends 'main/base.html' %}


{% block content %}
<style>
  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 1s linear 1;
    -moz-animation: spin 1s linear 1;
    animation: spin 1s linear 1;
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>



<style type="text/css">
  .classname {
    -webkit-animation-name: cssAnimation;
    -webkit-animation: spin 0.5s linear 1;
    -moz-animation: spin 0.5s linear 1;
    animation: spin 0.5s linear 1;
    -webkit-animation-timing-function: ease;
  }

  @-webkit-keyframes cssAnimation {
    from {
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
    }

    to {
      -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);

    }
  }

  .imgdissapear {
    visibility: hidden!important;
  }

  .prize {
    visibility: visible !important;
  }
</style>
<script type="text/javascript">
  function ani() {

    document.getElementById("iimg").className = 'classname';
    window.location.href='/lottery-prize/{{prize}}/'


  }
</script>
<title>Untitled Document</title>
</head>

  <h1 class="text-center">Thank you for your purchase.</h1>
  <h2 class="text-center">You've got 1 free spin. The main prize is extra 1 Year for your license!</h2>

  <div class="text-center">
    <img id="iimg" src="http://i.stack.imgur.com/pC1Tv.jpg" width="328" height="328" />
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-4"></div>
        <input value="Press to spin" type="button" class="text-center btn btn-primary col-12 col-md-4" style="padding: 20px;" onclick="setTimeout(ani, 1000);">
<div class="col-md-4"></div>
    </div>


{% endblock %}
