{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <style>
    .navbar-menu {
      background-color: #96c47b !important;
    }
    
    #mbl {
      background-color: #96c47b!important;
      border: solid 5px #5079bd!important;
      border-radius: 25px;
      margin-top: 10px;
    }
  </style>
  </style>

  <body style="background-color: #282c34;">
    <div style="text-align: center;">
      <img src="{% static 'description_1.jpg' %}" style="width: 100%;">
      <img src="{% static 'description_2.jpg' %}" style="width: 100%;">
      <img src="{% static 'description_3.jpg' %}" style="width: 100%;">
      <img src="{% static 'description_4.jpg' %}" style="width: 100%;">
    </div>
    <div style="text-align: center;">

      <div class="mt-5 mb-5" style="text-align: left;">
        <h1 style="color: #98c379">features</h1>
        <ul style="color: #98c379">
          <li>sorting files</li>
          <li>speeding-up your PC</li>
          <li>removing unwanted/trash files</li>
          <li>cleaning drive</li>
          <li>removing cache and errors</li>
          <li>speeding-up browsers</li>
          <li>removing privacy vulnerabilities from browsers</li>
          <li>removing empty folders</li>
        </ul>
      </div>
    </div>
    
    <div class="mt-5" style="text-align: center;">
      <h2 class="text-center mb-4" style="color: #98c379">Below, you can find a video in which you can see how 4-Organizer functions</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HgzUpZc0ua8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
  </body>
{% endblock %}