{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <style>
    img {
      height: 300px;
    }
    a {
      color: #4989cc;
    }
  </style>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center border mt-5 mr-1" style="border-radius: 20px; padding: 20px;">
        <a href="{% url 'register' 1%}" style="text-decoration: none;">
          <img class="text-center" src="{% static '1.png.webp' %}">
          <h1 class="text-center">1 Month license<br>$4.99</h1>
        </a>
      </div>

      <div class="col text-center border mt-5 mr-1" style="border-radius: 20px; padding: 20px;">
        <a href="{% url 'register' 3%}" style="text-decoration: none;">
          <img class="text-center" src="{% static '3.png.webp' %}">
          <h1 class="text-center">3 Months license<br>$12.99</h1>
        </a>
      </div>

      <div class="col text-center border mt-5" style="border-radius: 20px; padding: 20px;">
        <a href="{% url 'register' 6%}" style="text-decoration: none;">
          <img class="text-center" src="{% static '6.png.webp' %}">
          <h1 class="text-center">6 Months license<br>$19.99</h1>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center border mt-5 mr-1" style="border-radius: 20px; padding: 20px;">
        <a href="{% url 'register' 12%}" style="text-decoration: none;">
          <img class="text-center" src="{% static '12.png.webp' %}">
          <h1 class="text-center">1 Year license<br>$24.99</h1>
        </a>
      </div>

      <div class="col text-center border mt-5" style="border-radius: 20px; padding: 20px;">
        <a href="{% url 'custom-plan' %}" style="text-decoration: none;">
          <img class="text-center" src="{% static 'unique_plan.png' %}">
          <h1 class="text-center">Your unique plan<br>Starting from $3.00</h1>
        </a>
      </div>

      <div class="col text-center border mt-5" style="border-radius: 20px; padding: 20px;">
        <a href="{% url 'register' 0%}" style="text-decoration: none;">
          <img class="text-center" src="{% static 'bigboard.png.webp' %}">
          <h1 class="text-center">
            <strong>Forever license</strong>
            - $499.99</h1>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}