{% extends 'main/base.html' %}


{% block content %}

<style>
  span.badge-info {
    background-color: #4989cc!important;
  }
</style>
<h1 class="text-center mb-3">Selecting Scan</h1>
<p>There are 2 types of scans in 4-Organizer: <span class="badge badge-info">Express</span> and <span class="badge badge-info">Deep</span>.<br>
In this page you can see comparison of these scans.</p>
<hr>






<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Express Scan</th>
      <th scope="col">Deep Scan</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <th scope="row">Sorting files in selected folders</th>
      <td><span class="badge badge-success" style="border-radius: 10px;">+</span></td>
      <td><span class="badge badge-success" style="border-radius: 10px;">+</span></td>
    </tr>

    <tr>
      <th scope="row">Speeding-up your PC</th>
      <td><span class="badge badge-danger" style="border-radius: 10px; padding-bottom: 4px">-</span></td>
      <td><span class="badge badge-success" style="border-radius: 10px;">+</span></td>
    </tr>

    <tr>
      <th scope="row">Removing unwanted/trash files</th>
      <td><span class="badge badge-danger" style="border-radius: 10px; padding-bottom: 4px">-</span></td>
      <td><span class="badge badge-success" style="border-radius: 10px;">+</span></td>
    </tr>

    <tr>
      <th scope="row">Speeding-up browsers</th>
      <td><span class="badge badge-danger" style="border-radius: 10px; padding-bottom: 4px">-</span></td>
      <td><span class="badge badge-success" style="border-radius: 10px;">+</span></td>
    </tr>
    <tr>
      <th scope="row">Removing privacy vulnerabilities from browsers</th>
      <td><span class="badge badge-danger" style="border-radius: 10px; padding-bottom: 4px">-</span></td>
      <td><span class="badge badge-success" style="border-radius: 10px;">+</span></td>
    </tr>

  </tbody>
</table>

{% endblock %}
